* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:blanchedalmond;
}

.container {
    width: 500px;
    height: 500px;
    margin: 150px auto;
}

.gameboard {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    border-radius: 10px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}

.form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input {
    padding: 4px;
}

.start {
    background-color: rgb(0, 179, 0);
    color: white;
    border: 2px solid rgb(0, 114, 0);
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.restart {
    background-color: orange;
    color: white;
    border: 2px solid rgb(187, 121, 0);
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.message-box {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}